<head th:fragment="header(title)">
    <meta charset="UTF-8" />
    <title th:text="${title}">Home | Article</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <style>
        .pt-3-half {
            padding-top: 1.4rem;

        }
        .btn{
            margin: 3px !important;
        }
        .tblId{
            color: red ;
            font-weight: bold;
        }
        .error{
            color: red;
        }
    </style>
</head>

