<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div th:fragment="navbar">
     <!--Navbar -->
     <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
         <div class="container">
             <a class="navbar-brand" href="/"><i class="fas fa-home"></i></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                     aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                 <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                         <a class="nav-link" href="/" th:text="#{home}">Home
                             <span class="sr-only">(current)</span>
                         </a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/category" th:text="#{category}">Category</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#">Feature</a>
                     </li>
                     <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" th:text="#{language}">Language
                         </a>
                         <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                             <a class="dropdown-item"  th:href="@{''(lang='en')}" th:text="#{english}">English</a>
                             <a class="dropdown-item"  th:href="@{''(lang='kh')}" th:text="#{khmer}">Khmer</a>
                             <a class="dropdown-item" >Korean</a>
                         </div>
                     </li>
                 </ul>
<!--                 <ul class="navbar-nav ml-auto nav-flex-icons">-->
<!--                     <li class="nav-item">-->
<!--                         <a class="nav-link waves-effect waves-light">-->
<!--                             <i class="fab fa-twitter"></i>-->
<!--                         </a>-->
<!--                     </li>-->
<!--                     <li class="nav-item">-->
<!--                         <a class="nav-link waves-effect waves-light">-->
<!--                             <i class="fab fa-google-plus-g"></i>-->
<!--                         </a>-->
<!--                     </li>-->
<!--                     <li class="nav-item dropdown">-->
<!--                         <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"-->
<!--                            aria-haspopup="true" aria-expanded="false">-->
<!--                             <i class="fas fa-user"></i>-->
<!--                         </a>-->
<!--                         <div class="dropdown-menu dropdown-menu-right dropdown-default"-->
<!--                              aria-labelledby="navbarDropdownMenuLink-333">-->
<!--                             <a class="dropdown-item" href="#">Action</a>-->
<!--                             <a class="dropdown-item" href="#">Another action</a>-->
<!--                             <a class="dropdown-item" href="#">Something else here</a>-->
<!--                         </div>-->
<!--                     </li>-->
<!--                 </ul>-->
             </div>
         </div>
     </nav>
     <!--/.Navbar -->
 </div>


</body>
</html>