<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Add | Article')"></head>
<body>
<div th:replace="fragment/navigation :: navbar"></div>

    <div class="container">
        <div class="modal-header text-center">
            <h1 class="modal-title w-100 font-weight-bold"  th:text="${isAdd} ? 'Add Article' : 'Update Article'" >Add Article</h1>
            <div class="text-center">
                <a href="/" class="btn btn-default btn-rounded mb-5" th:text="#{back_home}">Back Home</a>
            </div>

        </div>
        <form action="/add" method="post" enctype="multipart/form-data" th:action="${isAdd} ? '/add' : '/update'">
            <div class="row">
                <div class="col-6">

                        <div class="md-form mb-1" >
                            <i class="fas fa-id-card-alt"></i>
                            <input type="text"  class="form-control validate" th:field="${article.id}" readonly placeholder="Enter ID">

                        </div>
                        <div class="md-form mb-1">
                            <i class="fas fa-users-cog"></i>
                            <input type="text" class="form-control validate" th:field="${article.title}" placeholder="Enter Title">
                            <span class="error" th:if="${#fields.hasErrors('article.title')}"​​​​​​ th:text="#{validate}">This field is required! </span>
                            <input type="text" hidden="true" th:field="${article.thumnail}">

                        </div>
                        <div class="md-form mb-1" >
                            <i class="fas fa-file-medical-alt"></i>
                            <input type="text" class="form-control validate" th:field="${article.description}" placeholder="Enter Description">
                            <span class="error" th:if="${#fields.hasErrors('article.description')}"th:text="#{validate}">This field is required! </span>

                        </div>


                </div>
                <div class="col-6">
                    <div class="md-form mb-1">
                        <i class="fas fa-user-graduate"></i>
                        <input type="text" class="form-control validate" th:field="${article.author}" placeholder="Enter Author ">
                        <span class="error" th:if="${#fields.hasErrors('article.author')}" th:text="#{validate}">This field is required! </span>

                    </div>
                    <div class="md-form mb-1">
                        <i class="fas fa-images"></i>
                        <input type="file"  class="form-control validate" name="file" multiple="multiple">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" th:text="#{category}">Category</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="sel1" th:field="${article.category.category_id}" th:remove="all-but-first">
                                <option th:each="category : ${categories}" th:value="${category.category_id}" th:text="${category.category_name}">News</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class=" d-flex justify-content-center">
                    <button type="submit" class="btn btn-deep-orange" th:text="${isAdd} ? '__#{submit}__' : '__#{update}__' ">Save</button>
                </div>
            </div>

        </form>
    </div>

    <div th:replace="fragment/footer :: footer"></div>


</body>
</html>