<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Add | Article')"></head>
<body>
<div th:replace="fragment/navigation :: navbar"></div>

<div class="container">
    <div class="modal-header text-center">
        <div class="text-center">
            <a href="/" class="btn btn-default btn-rounded mb-5" th:text="#{back_home}">Back Home</a>

        </div>

    </div>

</div>
<div class="container">

    <form class="form-horizontal" action="/category/add"  th:action="${isAddCat} ? '/category/add':'/category/edit/save'" th:method="${isAddCat} ? 'GET': 'POST'">
        <input type="hidden" th:field="${category.category_id}"/>
        <div class="form-group">

            <div class="col-sm-10">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control mt-2" th:placeholder="#{category}"
                               th:field="${category.category_name}"/>

                    </div>
                    <div class="col-md-6">
                        <input class="form-control float-right  mt-2" id="searchCat" type="text" th:placeholder="#{search}">

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class=" col-12">
                <!--                <div class="text-center ">-->
                <!--            <a href="/" class="btn btn-default btn-rounded mb-5">Back Home</a>-->

                <!--                </div>-->
                <button type="submit" class="btn btn-default" th:text="${isAddCat} ? '__#{submit}__' :  '__#{update}__'">Save</button>

            </div>

        </div>
    </form>
</div>

<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <table class="table table-hover  table-bordered mx-auto">
                <thead>
                <tr class="active">
                    <th class="active" th:text="#{id}">Category ID</th>
                    <th class="active" th:text="#{category}">Category Name</th>
                    <th class="active" th:text="#{action}">Action</th>
                </tr>
                </thead>
                <tbody id="result">
                <tr class="active" th:each="category : ${categories}">
                    <td class="active" th:text="${category.category_id}"></td>
                    <td class="active" th:text="${category.category_name}">Category Name</td>
                    <td class="active">
                        <a th:href="@{/category/edit/{id}(id=${category.category_id})}"
                           class="btn btn-sm btn-info btn-rounded"><i class="far fa-edit"></i></a>
                        <a th:href="@{/category/delete?id={id}(id=${category.category_id})}"
                           class="btn btn-sm btn-danger btn-circle"><i class="fas fa-trash-alt"></i></a>
                        <a th:href="@{/(category_id=${category.category_id})}"
                           class="btn btn-sm btn-primary btn-rounded"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>


</body>
</html>