<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Home | Article')"></head>
<body>
<div th:replace="fragment/navigation :: navbar"></div>
   <div class="container ">
       <!-- Editable table -->
       <div class="card">
           <h3 class="card-header text-center font-weight-bold text-uppercase py-4" th:text="#{article-management}"></h3>
           <div class="card-body">
               <div id="table" >
                   <div class="row">
                       <div class="col-md-8">
                           <form class="navbar-form navbar-left" action="/" method="GET">
                               <div class="input-group">
                                   <input style="width: 200px" type="text" class="form-control mt-2 " th:placeholder="#{search}" th:field="${filter.article_title}" />
                                   <select style="width:100px" class="form-control mt-2 ml-1" th:field="${filter.category_id}">
                                       <option value="" th:text="#{category}+ '(All)'"></option>
                                       <option th:each="category : ${categories}" th:value="${category.category_id}" th:text="${category.category_name}" ></option>
                                   </select>
                                   <span class="input-group-btn">
						                <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
					                </span>
                               </div>
                           </form>
                       </div>

                       <div class="col-md-4">
                            <span class="table-add float-right mb-3 mr-2">
                         <a href="/add" class=" btn btn-success btn-rounded">
                            <i class="fas fa-plus fa-2x" aria-hidden="true" th:text="#{add_new}">Add</i>

                     </a>

                 </span>
                       </div>
                   </div>


                   <table class="table table-bordered table-responsive-md table-striped text-center">
                       <thead>
                       <tr>
                           <th class="text-center" th:text="#{id}">ID</th>
                           <th class="text-center" th:text="#{title}">Title</th>
                           <th class="text-center" th:text="#{description}">Description</th>
                           <th class="text-center" th:text="#{autor}">Author</th>
                           <th class="text-center" th:text="#{category}">Category</th>
                           <th class="text-center" th:text="#{photo}">Image</th>
                           <th class="text-center" th:text="#{date}">CreateDate</th>
                           <th class="text-center" th:text="#{action}">Action</th>
                       </tr>
                       </thead>
                       <tbody id="results">
                       <tr th:each="article: ${articles}" th:object="${article}" >


                           <td class="pt-3-half tblId" th:text="*{id}">ID</td>
                           <td class="pt-3-half title" th:text="*{title}">Title</td>
                           <td class="pt-3-half" th:text="*{description}">Description</td>
                           <td class="pt-3-half" th:text="*{author}">Author</td>
                           <td class="pt-3-half" th:text="*{category.category_name}">Category>

                           </td>
                           <td class="pt-3-half" >
                               <img src="../static/img/default.jpg" th:src="'/images/'+*{thumnail}" th:width="60" th:high="60" >
                           </td>
                           <td class="pt-3-half" th:text="*{creteDate}">CreateDate</td>
                           <td>
                                <a  th:href="@{/view/{id}(id=*{id})}" class="btn btn-success btn-rounded btn-sm "><i class="fas fa-eye"></i></a>
                                <a  th:href="@{/update/{id}(id=*{id})}" class="btn btn-info btn-rounded btn-sm"><i class="far fa-edit"></i></a>
                                <a  th:href="@{/delete/{id}(id=*{id})}" class="btn btn-danger btn-rounded btn-sm "><i class="fas fa-trash-alt"></i></a>
                           </td>
                       </tr>
                       <!-- This is our clonable table line -->
                       </tbody>

                   </table>

               </div>
           </div>

       </div>
       <!-- Editable table -->
       <div class=" container center mt-4 ">
           <nav th:if="${page.totalCount}>10" th:remove="tag"aria-label="Page navigation example "  >
               <ul class="pagination pagination-circle pg-blue">
                   <li class="page-item disabled">
                       <a class="page-link" title="First" th:href="@{/(page = 1, article_title=${filter.article_title}, category_id=${filter.category_id})}" th:text="#{firsPage}">First</a>
                   </li>
                   <li class="page-item disabled">
                       <a class="page-link" aria-label="Previous" th:href="@{/(page = ${page.previousPage}, article_title=${filter.article_title}, category_id=${filter.category_id})}">
                           <span aria-hidden="true">&laquo;</span>
                           <span class="sr-only">Previous</span>
                       </a>
                   </li>
                   <li class="page-item active" th:each="i: ${#numbers.sequence(page.startPage, page.endPage)}" th:class="${page.page}==${i} ?:'active'">
                       <a class="page-link" th:text="${i}" th:href="@{/(page=${i}, article_title=${filter.article_title}, category_id=${filter.category_id})}"></a>
                   </li>
                   <li class="page-item">
                       <a class="page-link" aria-label="Next" th:href="@{/(page=${page.nextPage}, article_title=${filter.article_title}, category_id=${filter.category_id})}">
                           <span aria-hidden="true">&raquo;</span>
                           <span class="sr-only">Next</span>
                       </a>
                   </li>
                   <li class="page-item">
                       <a class="page-link" title="Last" th:href="@{/(page=${page.totalPages}, article_title=${filter.article_title}, category_id=${filter.category_id})}" th:text="#{lastPage}">Last</a>
                   </li>
               </ul>
           </nav>
       </div>

   </div>
   </div>





<div th:replace="fragment/footer :: footer"></div>



</body>
</html>